<!DOCTYPE html>
<html>
  <head>  
    <title>Broadway Data - About the Data</title>
  </head>
  <body>
    
    <div id="content">
      <h1>About the Broadway Data</h1>
      
    <p>The data used in this web app is from the CORGIS Dataset Project and can be found 
      <a href="https://corgis-edu.github.io/corgis/json/suicide_attacks/">here</a>.  The data contain statistics about all suicide attacks ever recorded. It provides the year, month and day. It also includes the terroist group name, if the claim is claimed, denied, suspected, or unclaimed, an addition to this is also has whether the suidice attack was suicide or possible suicide. It also has data on casualties and high/low civilian casualties. </p>
    <p>One of the statistics reported for each show each week is gross potential.  The gross potential of a show for a week is the percent 
      of the maximum possible earnings that was actually earned.  For example, if 
      a show could have earned $100,000 based on ticket prices, theatre capacity, and the number of performances, but it actually earned 
      $80,000, then its gross potential for that week would be 80%.  When it was not possible to calculate the gross potential, it was 
      recorded as 0.  Gross potential can be greater than 100% when theatres sell extra standing room tickets or when they use dynamic 
      ticket pricing.  The gross potential is calculated based on original ticket prices. 
      (<a href="https://www.broadwayworld.com/board/readmessage.php?thread=1089643">Source</a>)</p>
	<p>Some shows are listed multiple times on the Data by Show page (for example, Cats and Cats 2016).  This indicates that the show ran for a period of time 
		and then stopped.  It was then revived in the year indicated by the number following its name.  A revival production may continue for more than a year.
		</p>

    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>