{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
	<h2>Welcome to the Home section</h2>
    <p>The data used in this web app is from the CORGIS Dataset Project and can be found 
      <a href="https://corgis-edu.github.io/corgis/json/suicide_attacks/">here</a>.  The data contain statistics about all suicide attacks ever recorded.
	  It provides the year, month and day. It also includes the terroist group name, if the claim is claimed, denied, suspected, or unclaimed, 
	  an addition to this is also has whether the suidice attack was suicide or possible suicide. It also has data on casualties and high/low civilian casualties.</p>
    <p>One of the statics show which group claimed, denied, suspected or unclaimed. This still can be used to seperate which crimes were commited by what group. 
	This can be used in the data as follows. You can choose which group you would like and it would give you the avg ammount of deaths/gender/how they suicide
	killed by that suspected or claimed group.</p>
	<p>There are many attacks that are either unclaimed or denied by certain groups. There are also attacks that have many unknown data sets in them. Meaning not all attacks could have been commited by these groups.
		</p>

    </div>
	

{% endblock %}